.col { flex-basis: 25%!important; }
.product-name{
    color: #2B2D42;
    font-weight: 700;
    margin: 0 0 10px;
    line-height: 1.1;
    font-family: inherit;
    text-decoration: none
}
.product-name:hover{
    color: blue;
    text-decoration: none
}
.body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #333;
}
.product-body{

}

.product{
    text-align: center;
}

.product-price{
    color: #D10024;
    font-size: 18px;

}
.product-old-price{
    font-size: 70%;
    font-weight: 400;
    color: #8D99AE;
}
.product-rating{
    color: #f59e0b;
}
.btn-ground{
    margin-top: 5px;
}
.product-img{
    height: 150px;
    object-fit: cover;
}
.space-ten{padding: 10px 0;}
.product{
    margin: 10px 0;
    padding: 10px;
    border: 1px solid darkgray;
    border-radius: 5px;
    box-shadow: 2px 2px 2px white,
                -2px -2px gray;

}
.inputgroup{
    width: 100%;
    border-radius: 0px !important;
}
.prodcut-select{
    display: flex;
    align-items: center;
}
.col div{
    margin-left: 30px !important;
    margin-right: 30px !important;
}
.btn-search{
    margin-left: 50px !important;
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: none;
    text-align: center;
    padding-bottom: 5px;
}
.btn-all{
    margin-right: 15px !important;
    background-color: red;
    color: white;
    border-radius: 5px;
    border: none;
    text-align: center;
    padding-bottom: 5px;
}


