<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/index}">
<head>
    <meta charset="UTF-8">
    <title>Manager Material - Store</title>
    <link rel="stylesheet" th:href="@{/css/style-store.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style-click.css}" type="text/css">

    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css}" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div layout:fragment="content">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4" th:each="product:${store}">
                <a class="all-product">
                    <div class="product">
                        <img th:src="${product.image}" class="product-img" alt="Sample Image">
                        <div class="product-body">
                            <h5 class="card-title">
                                <a class="product-name" th:href="@{'/view/manager-material/product/'+${product.id}}">
                                    <span th:text="${product.name}"></span>
                                </a>
                            </h5>
                            <p class="product-price" >Giá:<span style="font-weight: bold;margin: 0 auto;" th:text="${#numbers.formatCurrency(product.price*70/100)}"></span><del class="product-old-price"><span th:text="${#numbers.formatCurrency(product.price)}"></span></del></p>
                            <h6>Số lượng còn lại:
                                <span th:text="${product.quatity}"></span>
                            </h6>
                            <h6>
                                Trạng thái:
                                <span th:switch="${product.isactive}">
                                    <span th:case="'1'" style="color: green">Còn bán</span>
                                    <span th:case="'0'" style="color:red;">Không còn sản phẩm</span>
                                </span>
                            </h6>
                            <div class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="space-ten"></div>
                            <div class="btn-ground text-center">
                                <button type="button" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Add To Cart</button>
                            </div>
                        </div>
                    </div>
                </a>
                </div>
            </div>
        </div>
    </div>


</div>
<script th:src="@{js/script-cart.js}"></script>
</body>
</html>